<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.cosenonjaviste"
    android:versionCode="10"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".ui.CoseNonJavisteApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" 
        android:theme="@style/AppTheme">
        
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.utils.SingleFragmentActivity" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="8e3fc3042c15d9ee8a2c57326d7b03c8a4dd8427" />
    </application>

</manifest>